{% extends 'book_logs/base.html' %}

{% block content %}

<p>Book: {{book}}</p>
<p>Author: {{author}}</p>
<p>Rating: {{rating}}</p>
<p>Voters: {{voters}}</p>
<p>Price: {{price}}</p>
<p>Currency: {{currency}}</p>
<p>Description:{{description}}</p>
<p>Publisher:{{publisher}}</p>
<p>Pages:{{page_count}}</p>
<p>Generes:{{generes}}</p>
<p>ISBN:{{ISBN}}</p>
<p>Language:{{language}}</p>
<p>Published Date:{{published_date}}</p>

{% endblock content %}