{% extends "book_logs/base.html" %}
{% block header %}
<div class='jumbotron'>
    <h1>Book</h1>
</div>
{% endblock header %}
{% block content %}
<div class="jumbotron border shadow">
    <div class="row">
        <div class="col-md-8 offset-2">
            <form>
                <div class="input-group">
                    <input name="q" type="text" placeholder="Search" class="form-control form-control-lg" />
                    <div class="input-group-append">
                        <button class="btn btn-dark btn-lg">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">


        {% for book in books %}
        <div class="panel-heading">
            <h3>
                <a href="{% url 'book_logs:book' book.id %}">{{book}}</a>
            </h3>
        </div>
        {% empty %}
        <p>No book have been added yet.</p>
        {% endfor %}

        {% endblock content %}